[2012-10-07 05:36] eboto opened #2 "Shall we make this the main scala-guice repo?"
Hey all,

Based on the fact that you guys are accepting pull requests and have set up a CI server, it appears to me that this is now the main repo for this project. Thanks for continuing to contribute to it and keep it current!

I just wanted to mark my intent here to contact the original author of this project and have put up either a redirect or a notice to this one in his README.md.

[2012-10-13 01:13] eboto opened #3 "Non-matchng SHAs when depending on jenkins repository in new project"
Hello,

My team is having troubles pulling the artifact from the jenkins repository. We get this error when including the artifact -- looks like a SHA that doesn' tmatch. Have you seen anything like this?

[code]

[2012-12-12 22:22] nbauernfeind opened #4 "Release to Sonatype Nexus"
It has been driven me nuts that this extremely useful tool has yet to hit a real repository. Now that you're sitting in the pilot seat, can you get this published to sonatype? It's fairly simple.

[2012-12-13 04:23] #2 closed, assigned to nobody

[2012-12-13 04:24] tsuckow opened #5 "Improve documentation"
There basically isn't any except for what is on the main page. It is pretty self explanatory but doesn't show everything (multibindings). That change I pulled...

[2012-12-13 07:05] tsuckow opened #6 "Switch to git flow"

[2012-12-13 07:06] tsuckow opened #7 "Archive the old 2 and 3-port branches as tags."

[2012-12-13 07:10] tsuckow opened #8 "Rename groupid to net.codingwell"
As a side note, I should really revamp my website.

[2012-12-14 06:02] #7 closed, assigned to tsuckow

[2012-12-14 06:04] #6 closed, assigned to tsuckow

[2012-12-15 05:19] #8 closed, assigned to tsuckow

[2012-12-15 05:20] #5 closed, assigned to tsuckow

[2012-12-20 19:15] #4 closed, assigned to tsuckow

[2013-01-14 23:32] hbf opened #11 "Release for Scala 2.10.0"
First of all, thanks a lot for this nice project. It is very useful.

Once issue: I was trying to use 3.0.1 with Scala 2.10.0, which has been released recently. Unfortunately, I get errors like

[code]

Do you see a possibility to publish a 2.10.0 build to the Typesafe Maven repository http://repo.typesafe.com/typesafe/repo/net/codingwell/?

I hope I am asking at the right place, here. Please let

[2013-01-18 06:59] #11 closed, assigned to nobody

[2013-06-30 22:09] #3 closed, assigned to tsuckow

[2013-08-13 05:43] tsuckow opened #15 "Release 4.0.0-beta"

[2013-08-14 01:56] #15 closed, assigned to tsuckow

[2013-08-14 02:01] tsuckow opened #16 "Drop support of 2.9.2 and earlier"
We have a hack for a bug in 2.9.2 and earlier, we should remove it.
This will also allow for some code cleanup.

[2013-12-18 14:54] michalkowol opened #17 "Use javax.inject.Provider"
If you use import: import javax.inject.Provider you cannot use bind[A].toProvider[AProvider], but tou must use bind[A].toProvider(classOf[AProvider])

Example:

[code]

Solution:
argument in net.codingwell.scalaguice.ScalaLinkedBindingBuilder.toProvider should be javax.inject.Provider insted of com.google.inject.Provider (note that Provider from guice only extends Provider from javax.inject).

[2013-12-20 04:48] #17 closed, assigned to tsuckow

[2013-12-21 17:06] Maatary opened #20 "How one can use assisted injection with scala-guice? Is it supported ?"
Hi,

I have been using google-guice with the assisted inject mechanism for a while. As i am in scala, and just discover scala-guice, i'm interested in using it as well. However i'm confused as to how to use assisted injection with it. There is not example of using assisted inject with it. Especially, would it support assisted-inject library ?

Hence my question here is: is it possible to use assis

[2013-12-22 03:51] tsuckow opened #21 "Dealing with extensions to Guice"
Currently multibindings is a dependency of scala-guice. I think idealy this should only be a compile time dependency and if you want guice-multibindings at runtime you have to include it yourself.

We should look into supporting assisted inject and how we want to handle that new dependency. Guice has many extensions, we don't want to force everyone to load them all.

[2013-12-25 18:38] #20 closed, assigned to nobody

[2013-12-25 20:48] Maatary opened #22 "Can someone Inject something that is Optional ?"
bind([Option [T]]).instance[Some(T)]

[2013-12-29 19:28] Maatary opened #23 "Akka and Guice"
Do you any example code somewhere, that shows how to use Scala-guice/guice to inject actors ?

[2014-05-06 15:40] ericacm opened #25 "Support Scala 2.11"

[2014-05-23 07:25] tsuckow opened #26 "Revisit AnnotatedWith inconsistency"
Revisit the AnnotatedWith vs AnnotatedWithType inconsistency. Should something be changed?

https://github.com/codingwell/scala-guice/pull/19#issuecomment-36941222

[2014-05-23 07:31] #23 closed, assigned to nobody

[2014-05-29 04:02] #25 closed, assigned to tsuckow

[2014-05-29 04:06] #16 closed, assigned to nbauernfeind

[2014-08-19 21:40] Maatary opened #28 "Do you support assisted injection (factories) ?"

[2014-08-20 14:47] #28 closed, assigned to nobody

[2014-10-03 07:01] kahliburke opened #29 "ScalaMultibinder doesn't allow multiple modules to contribute, as Guice Multibinder does"
If I create a Guice Multibinder for some type, I am allowed to do this from multiple modules, specifically the

[code]

method can be called in as many modules as I'd like, which allows me to have multiple modules dynamically contribute to the set of types, instances, etc. configured.

However, if I do the following:

[code]

I get an exception from Guice that the binding configuration has already

[2014-10-25 05:08] #22 closed, assigned to nobody

[2014-10-25 05:24] tsuckow opened #34 "Add test for None in ScalaOptionalBinder"
PR #31 is missing a test for when the Option has no value

[2014-10-25 05:48] tsuckow opened #35 "Report code coverage"
Implement Coverage reporting. Something like https://coveralls.zendesk.com/ ?

[2014-10-29 03:34] #29 closed, assigned to nobody

[2014-10-30 09:38] OliverKK opened #36 "Add how to override modules to documentation"

[2014-11-22 16:30] #34 closed, assigned to nobody

[2014-11-22 16:30] #36 closed, assigned to nobody

[2014-11-22 16:54] tsuckow opened #39 "Fix documentation warnings"
[code]

Has a lot of warnings

[2015-01-20 17:06] ShengC opened #42 "cannot bind or create instance of scalaz reader (due to miss of Manifest)"
import com.google.inject._
import net.codingwell.scalaguice._

import scalaz.Reader

class AModule extends AbstractModule with ScalaModule {
  def configure() {
    bind[Reader[Int, Int]].toInstance(Reader { (_: Int) * 2  })
  }
}

gives me error: "Manifest of Reader[Int, Int] is not found"

so I have to resort to the legacy way of creating guice module

class AnotherModule extends AbstractModule

[2015-01-20 17:14] nbauernfeind commented on #42
What versions of scala, guice, and scala-guice are you using?

[2015-01-20 17:41] ShengC commented on #42
scala 2.10.4, 4.0-beta5 for google guice, and 4.0.0-beta5 for scala-guice

[2015-01-20 21:52] nbauernfeind commented on #42
The underlying issue is that `scalaz.Reader` is typedef'd to `scalaz.Kleisli` which has a type parameter that takes a type parameter.

Here's a shorter example that does not use scalaz or guice:
[code]

This leads me to this stackoverflow on the issue: http://stackoverflow.com/questions/26010800/why-does-getting-a-manifest-of-a-trait-with-a-higher-kinded-type-does-not-work

It seems like we won't

[2015-01-20 22:25] ShengC commented on #42
That made a lot of sense. Looking forward to it.

[2015-01-21 22:58] nbauernfeind commented on #42
I've banged out the required changes to migrate from Manifest to TypeTag and they can be previewed here:
https://github.com/nbauernfeind/scala-guice/tree/TypeTag

There is a pretty big drawback to TypeTags, and that's that they are not thread safe in Scala 2.10.
See: https://issues.scala-lang.org/browse/SI-6240

I've, personally, coded around this for scala-guice library. However, it is basically

[2015-01-22 00:19] vkostyukov commented on #42
Thanks a lot @nbauernfeind for working on `TypeTag` support. This is what I was looking for. Really looking forward to it.

[2015-01-22 02:59] nbauernfeind commented on #42
You're welcome @vkostyukov.

I wrote those tests (haven't pushed them to my branch yet) and found a couple of edge-cases that are wrong related to Arrays. Arrays are tricky since there isn't a real class that supports them. JVM has a flag on the class instance to say whether or not the type is an array. With this particular use case the type tag doesn't conform to `typeOf[Array[_]]` so I'm trying

[2015-01-22 06:13] tsuckow commented on #42
I'll pull the sonatype stats and see what usage looks like. I would hate to maintain a separate branch, but that may be the best if we have to hack 2.10 or leave it broken.

[2015-01-23 03:00] tsuckow commented on #42
Looks like 2.10 is curbing off. But still hundreds of users and 2.11 only has about half as many.

[2015-01-24 04:15] ShengC commented on #42
Guys found another case that is similar to this....

  trait A { def a {} }
  trait B

  type AB = A with B

  class Model extends AbstractModule with ScalaModule {
    def configure() {
      bind[A].toInstance(new A {})
      bind[AB].toInstance(new A with B {})
    }
  }

  Guice.createInjector(new Model()) // This fails at run time. Guice thinks there is a dup.

[2015-02-06 17:20] nbauernfeind opened #43 "Duplicate Binding: ScalaModule believes A == A with B."
@ShengC Provided an example that involves a binding error when it probably shouldn't be.

[code]

[2015-02-06 17:21] nbauernfeind commented on #42
@tsuckow I think that's probably fine. If someone has to care or runs into that problem we just direct them to the earlier versions of 2.10. Most of the time people don't upgrade to 2.11 because of other third party dependencies. Twitter is usually one of the last companies to upgrade and I see most of their popular projects have already upgraded. Let's just deprecate 2.10 and move on.

@ShengC I'

[2015-02-06 17:22] nbauernfeind commented on #42
Also, it appears I didn't finish my changes related to Arrays. I'll add that to my todo list this weekend and send a proper pull-request.

[2015-05-04 06:43] beeva-pablojimenez opened #44 "Bind Instances with annotation"
I'm trying to do something like this;

Binding:
bind[A].annotatedWith( Names.named("name") ).toInstance["B"]

Getting from injector:
val b = injector.instance[A]

There is a compilation error if i try get from injector with ( Names.named("name") )
type mismatch; found : com.google.inject.name.Named required: Manifest[A]

Thanks

[2015-05-04 14:24] tsuckow commented on #44
So you get a compiler error with:
[code]

[2015-05-04 14:30] nbauernfeind commented on #44
How does this usage differ from the test?

https://github.com/codingwell/scala-guice/blob/master/src/test/scala/net/codingwell/scalaguice/InjectorExtensionsSpec.scala#L50

[2015-05-05 06:19] beeva-pablojimenez commented on #44
tsuckow, i have an error compiller with the code you are write ( found : com.google.inject.name.Named required: Manifest[A])

nbauernfeind, the diferent between your test and my code is that i,m binidng instances, not classes

In the other hand, i'm using scala-guice_2.10 with version <version>3.0.2</version> because using <version>4.0.0-beta5</version> i have maven problem: No versions available

[2015-05-05 06:43] beeva-pablojimenez commented on #44
Hi all, the problems is solved on 4.0.0-beta5 version. I have instaled com.google.code.findbugs:jsr305:jar:[1.3, 1.4) in my maven local repository and everything is working now.

Thank you for your help

[2015-05-05 15:14] nbauernfeind commented on #44
@tsuckow Can we remove the need for findbugs? I always forget to add it as an exclusion. I don't know if it's only a maven build issue or if other build systems have trouble with that dependency requirement... but it's non-obvious for new users.

[2015-05-06 07:04] mushtaq opened #45 "Cut a release for Guice 4.0.0 final"

[2015-05-09 13:17] tsuckow commented on #45
I can't believe they finally did it. I should look at this Monday as I am out of town.

[2015-05-09 13:22] tsuckow commented on #44
Not sure why it needs to be separately installed. I also don't remember the last time I checked it's output. I probably mostly used it with Jenkins. I think it definitely should be made to "just work" or be removed

[2015-05-11 07:55] sebigavril commented on #20
Where do you import `typeLiteral` from? Or is it a function written by you?

[2015-05-11 12:20] sebigavril commented on #20
Think I've found it: `import net.codingwell.scalaguice.typeLiteral`

[2015-05-12 03:33] tsuckow commented on #44
So, I don't understand the issue with jsr305. That package is needed for using Guava with Scala. It is listed as a compile time dependency in build.sbt It should "just work" and does for me.

[2015-05-12 04:00] tsuckow commented on #45
I've updated the snapshot version 4.0.0-SNAPSHOT. Give that a spin and if the wheels don't fall off let me know and I'll promote it to 4.0.0

[2015-05-12 05:13] mushtaq commented on #45
I tried using snapshot but sbt could not resolve it. Do I have to add a new
resolver?

Thanks.

On Tue, May 12, 2015 at 9:30 AM, Thomas Suckow <notifications@github.com>
wrote:

[2015-05-12 05:31] tsuckow opened #46 "Publish ScalaDoc"

[2015-05-12 05:34] #39 closed

[2015-05-12 05:47] tsuckow commented on #45
Well this is embarrassing. All this time I thought I was pushing SNAPSHOT releases I had a typo.

It should "just work" now. But if not it is at https://oss.sonatype.org/content/repositories/snapshots/

Or even more specifically [oss.sonatype.org/.../scala-guice_2.11/4.0.0-SNAPSHOT/](https://oss.sonatype.org/content/repositories/snapshots/net/codingwell/scala-guice_2.11/4.0.0-SNAPSHOT/)

[2015-05-12 06:02] beeva-pablojimenez commented on #44
I'm using maven. I have seen guice's pom file and it needs jsr305 as dependence. When i run maven install, it told me: "No versions available for com.google.code.findbugs:jsr305:jar:[1.3, 1.4) ", I don't understand why maven show that error.

[2015-05-12 10:24] mushtaq commented on #45
Ok, after I added resolvers += Resolver.sonatypeRepo("snapshots"), all my
tests pass on local box. But I can not push it to CI as snapshots repo are
not accessible from CI. So all green from side.

Thanks.

On Tue, May 12, 2015 at 11:17 AM, Thomas Suckow <notifications@github.com>
wrote:

[2015-05-13 03:44] tsuckow commented on #45
Oh..  So I have it listed as a compile dependency, should we be pulling it in for users of the library as well? Thoughts Nate?

[2015-05-13 03:47] tsuckow commented on #44
Oh.. So I have it listed as a compile dependency, should we be pulling it in for users of the library as well? Thoughts @nbauernfeind ?

[2015-05-13 04:44] nbauernfeind commented on #44
Guava has findbugs listed as an optional dependency. That can be seen here: https://github.com/google/guava/blob/8f1df29aa3babf441c262aedb6176714c6749596/guava/pom.xml#L21

If it's possible to mark it as optional in SBT, that might be best?

For some reason SBT must be turning this dependency into the "provided" scope instead of "compile" scope (for maven users). If scala-guice uses it at all, the

[2015-05-19 18:09] nlochschmidt commented on #45
Just tested the 4.0.0-SNAPSHOT in our project and everything works as expected. And as a bonus the Guava evicted messages (#40) will finally be fixed \o/.

[2015-05-20 13:59] tsuckow commented on #45
Good to hear!

I am trying to get #44 squared away. I am swamped, I hope to make a new snapshot tonight changing the related dependency and then hopefully get the full release out before the long weekend.

[2015-05-20 14:30] nbauernfeind commented on #45
I was almost done with #42 well back in the day. Does it make sense to finish that off? An almost complete implementation is here: https://github.com/nbauernfeind/scala-guice/tree/TypeTag.

However, I think we would need to drop support for scala 2.10 since TypeTag's are not thread safe (see: http://docs.scala-lang.org/overviews/reflection/thread-safety.html). 2.11 has been release for only about

[2015-05-20 23:19] tsuckow commented on #45
I am thinking we could keep support for 4.0.0 and then drop support and do
a 4.0.1. If too much protest we keep a branch for 2.10 after that.

[2015-05-21 03:30] #44 closed

[2015-05-21 03:31] tsuckow opened #47 "Develop branch README should be SNAPSHOT not snapshot"

[2015-05-21 03:38] tsuckow commented on #45
Alright. I have pushed a new SNAPSHOT that fixes #44. Please give it a spin and make sure that simple change hasn't broke the world. If no one protests I plan to release 4.0.0 Friday before I leave on holiday. Then we should see about merging #42 for 4.0.1

[2015-05-26 02:06] tsuckow commented on #45
Should be synced to maven central shortly

[2015-05-26 02:06] #45 closed

[2015-05-27 09:45] mushtaq commented on #45
Cool, thanks.

On Tue, May 26, 2015 at 7:36 AM, Thomas Suckow <notifications@github.com>
wrote:

[2015-06-11 02:49] ShengC opened #48 "scala-guice does not bind primitive types correctly"
class IntProvider extends Provider[Int] {
  def get() = 1
}

trait Foo[T] { def get(): T }

class FooProvider extends Provider[Foo[Long]] {
  def get() = new Foo[Long] { def get() = 1L }
}

IntProvider is bound as java.lang.Object, and FooProvider is bound as Foo[java.lang.Object]. If instead I bind to the java primitives directly, types are right.

[2015-06-11 11:06] nbauernfeind commented on #48
Can you please include your guice module?

On Wed, Jun 10, 2015, 10:49 PM Mianwo <notifications@github.com> wrote:

[2015-08-27 20:15] ShengC commented on #48
Sorry, this seems to be a very old issue without followup. This really is sporadic, and I cannot reproduce it any more.

[2015-08-27 20:19] ShengC opened #49 "does not bind `AnyVal` properly..."
This throws `java.lang.reflect.MalformedParameterizedTypeException`. I think the problem is `Guice` depends on Java reflection which cannot properly interpret `AnyVal`, as I cannot assign null to the initial value of `Foo` in `BarProvider`, since `Foo` is not bounded by `Null`

    class Foo(val foo: String) extends AnyVal {}
    object Foo {
      def apply(foo: String): Foo = new Foo(foo)

[2015-08-27 20:21] nbauernfeind commented on #48
Ok. Thanks for the update. Feel free to close this issue.

[2015-08-27 20:21] #48 closed

[2015-08-27 20:30] nbauernfeind commented on #49
By the way, I think you want this implementation of `get` (which injects the wrapped string `foo` and not `Foo.toString()`):
[code]

If you're looking to allow your `Foo.empty` to be `Foo(null)` then you need to mark the injection as null-safe. In that case try this:

[code]

[2015-08-27 20:32] nbauernfeind commented on #49
Or possibly you wanted to do this?
[code]

I can't seem to reproduce the specific error that you're getting. Is there a specific version of guice/jvm/scala that you're using?

[2015-08-27 20:40] nbauernfeind commented on #49
Actually, I can't seem to get guice to inject the Foo inside of the BarProvider. So yeah, it doesn't seem like I can inject an AnyVal at all.

[2015-08-27 20:41] ShengC commented on #49
@nbauernfeind that is really weird ! It does not throw exception now. However as I change `BarProvider` to spit out `Foo.foo` instead, the program always prints empty string instead of `abc`. Is that what happens at your end ?

[2015-08-27 20:50] ShengC commented on #49
Unless this is an `sbt` bug, this snippet has a totally messed up error ...

    case class A()
    case class B()

    class Foo[A, B](val foo: String) extends AnyVal {}
    object Foo {
      def apply(foo: String): Foo[A, B] = {
        Console.println("h")
       new Foo(foo)
      }

      def empty: Foo[A, B] = new Foo("")
    }

    import com.google.inject._
    import com.google.inject.na

[2015-08-28 14:25] ShengC commented on #49
A minimized example showing the problem.

      import com.google.inject._
      import com.google.inject.name._
      import net.codingwell.scalaguice._

      class Foo(val foo: String) extends AnyVal

      class Bar @Inject() (foo: Foo) {
        override def toString() = foo.foo
      }

      object TestModule extends AbstractModule with ScalaModule {
        def configure() {
          bind

[2015-09-08 14:37] Vadi opened #50 "ScalaMapBinder does not support traits as type"
Suppose you've a trait that you will implement in child classes -

[code]
Given this injections

[code]

and calling them with `val map = injector.instance[im.Map[String, AppMessage]]` throws not found exception.

Need to support `traits`

[2015-09-09 12:22] nbauernfeind commented on #50
I don't immediately see why this shouldn't already work. In this case the trait is effectively an interface. Thanks for reporting.

I don't have time to look today, but I will tomorrow.

[2015-12-02 02:44] eboto opened #53 "Publish 2.11_3.0.2"
Can you publish one of the 3.0.x versions of this libraries for scala 2.11? Dependency issues are forcing some of us to stay on Guice 3 even as we upgrade to Scala 2.11.

[2015-12-02 05:46] tsuckow commented on #53
I'll have to see. There was a compatibility issue that prevented it. It may be possible to backport the current 4.x code (or beta4) to 3.x

I don't have a ton of time as of late, so a pull request would probably speed it up.

[2015-12-02 07:36] tsuckow commented on #53
I made some time tonight and it went much better than expected.
https://github.com/codingwell/scala-guice/tree/support/v3.0.3

I basically took the current 4.x series and undid the incompatible changes. The tests all pass, so it probably is fine. ¯\_(ツ)_/¯ Maybe @nbauernfeind could do a code review on the commit.

I pushed it as 3.0.3-SNAPSHOT, give it a spin and see if that works. I can see about

[2015-12-02 21:21] nbauernfeind commented on #53
The commit looks great.

[2015-12-10 02:26] tsuckow commented on #53
Released v3.0.3 for Scala 2.10 and 2.11

[2015-12-10 02:26] #53 closed

[2016-05-26 22:38] mosesn opened #55 "2.12-ification"
We should start publishing against 2.12.0-M4 if possible, since it looks like 2.12.0 final is around the corner.

[2016-06-15 16:22] woparry opened #56 "bind[F[T]], where T is a value type (long, int, etc), does not work with @Inject constructors"
example:

[code]

Note that it works fine if you use @Provides instead

[code]

or if T is a reference type

[code]

[2016-07-28 03:19] tsuckow commented on #55
I seem to remember being unable to find a compatible version of some of our dependencies. This may have changed now.

[2016-07-28 05:02] tsuckow commented on #55
https://github.com/tsuckow/scala-guice/tree/feature/2.12

I'd push a snapshot but I need to recover my credentials from my old box (Motherboard failed).

Note it fails a pedantic test:

[code]

[2016-07-28 05:57] mosesn commented on #55
@tsuckow thanks!  we're going to need this to get finatra on the 2.12 train.

[2016-07-29 05:38] tsuckow commented on #55
I think I resolved the issues with 2.12. Going to try to mix that in with the Guice 4.1 pull request for the next version (Probably this weekend sometime unless I get heatstroke)

[2016-07-31 04:09] tsuckow commented on #55
I deployed a 4.1.0-SNAPSHOT on 2.12.0-M5 If you could give it a spin and see if it works that would be great. If there is no negative feedback I'll publish it proper.

[2016-07-31 04:10] #47 closed

[2016-07-31 07:15] mosesn commented on #55
We're not ready for it yet (we have other dependencies which aren't on 2.12.x yet), but I wonder if there's another way I can help test it out?

[2016-07-31 18:31] tsuckow commented on #55
If you could test on a version you do use 2.10 or 2.11 that would still be awesome. I made a few minor tweaks for 2.12. It passes all the tests but that isn't conclusive.

Those tweaks were the change I made for error messages. I am not sure it actually worked correctly in 4.0.1 and before, If you made a binding have a runtime problem, it should include the line of the binding in your code. Things

[2016-08-08 04:22] tsuckow commented on #55
Released for 2.12.0-M5

[2016-08-08 04:22] #55 closed, assigned to nobody

[2017-01-11 11:41] gravelld opened #60 "Binding Providers of parameterised types"
Consider:

[code]

I can do:

`bind(new TypeLiteral[Option[String]]() {}).toProvider(classOf[AnOptionProvider])`

But I can't do:

`bind(new TypeLiteral[Option[String]]() {}).toProvider[AnOptionProvider]`

Which is slightly more elegant.

I get the feeling I'm missing something from the README when it says:

[code]

Assuming this solved it, could that example be fleshed out?

[2017-01-12 16:41] WorkDayHeyHey opened #61 "Create named Actors"
We need another provideActorRef that provides named actors.  Named actors (at least at my experience level) are essential to connecting distributed systems.

GuiceActorProducer's magic is too deep for me to see how to create the needed changes.  It seems that probable only an additional argument passed into IndirectActorProducer would do it.

Thanks, this wrapper is really needed.  I only wish I c

[2017-01-12 18:13] WorkDayHeyHey commented on #61
Now that I unwind from trying to make this work I realize that my problems has nothing to do with scala-guice.  My problem is that activator-akka-scala-guice code does not do what I need for use in my project.

After days of trying and looking mostly at how to use scala-guice to make it do my bidding I stated to this the problem was yours, but it's not.

Thanks for being that person how helps me a

[2017-01-12 18:13] #61 closed, assigned to nobody

[2017-01-13 04:03] tsuckow commented on #60
The issue is that `bind(new TypeLiteral[Option[String]]() {})` is invoking the guice native method and thus not returning the scala wrapped builders that support the `.toProvider[AnOptionProvider]` syntax.

This does work:
[code]

I'm looking into what it would take to override the methods and return the Scala versions.

[2017-01-13 05:18] tsuckow commented on #60
This is an issue I have tried to resolve before, unfortunately at every turn I end up with an ambiguous method error.

[2017-03-20 14:55] ghost opened #62 "Where did `@Inject` annotations go?"
I've used Guice for Java + Groovy projects for years now, and am used to property and/or constructor injection like so:

[code]

But in Scala constructors work a lot different:

[code]

And in all of your code examples + docs I don't see `@Inject` used anywhere. So I ask: does `@Inject` still exist in `scala-guice`, or has it been replaced by something else? If it doesn't exist, then how does Guic

[2017-03-20 18:14] tsuckow commented on #62
I think you are looking for `class fizz @Inject()(val billing...)`

[2017-03-20 18:46] ghost commented on #62
Hmmm thanks! Ok so it looks like that with this library, the `@inject` annotation always goes as the class-level (not constructor or field level like with Java/Groovy)?

And I'm *guessing* that means that this library doesn't support "partial" injections: that is, you have to let Guice inject all fields included in the Scala primary constructor? Thanks again!

[2017-03-20 19:43] tsuckow commented on #62
You can annotate members and the syntax I posted is for constructors. I'd post some better examples but I haven't honestly been doing that much Scala work lately and I am replying from my phone.

I'd look up annotating methods and constructors in Scala. This library simply relies on the annotations from guice itself.

Here is an example I found, there are probably much better ones: http://michaelp

[2017-03-21 00:37] ghost commented on #62
Thanks again @tsuckow so I read that article (Guice Up Your Scala) and admit its a *great* read. There's only one passage in there that troubles me. Under the section titled "*The Good, The Bad & The Ugly*", the author states (for the Bad):

Does this mean that I *can't* use `scala-guice` for injecting my classes with third party (open source) library classes?!? If not, what's the author saying th

[2017-03-21 02:36] tsuckow commented on #62
I believe he is saying that if you have:
Your own class Fizz that uses Inject to inject Foo
Foo is a third party library that depends on Bar being passed to the constructor
Then you cannot simply use Inject to make Foo get Bar because you can't add the annotation to the Foo constructor. You would have to bind to an instance of Foo that you created and passed Bar or you would have to make a Foo pro

[2017-03-21 10:11] ghost commented on #62
👍 thanks @tsuckow

[2017-03-21 10:11] #62 closed, assigned to nobody

[2017-03-22 10:01] ghost opened #63 "Type named is not a member of object com.google.inject.name.Names"
I have the [following repo on GitHub](https://github.com/hotmeatballsoup/scala-guice-example) which uses this library for DI of a very simple Scala app.

If you clone it an run `./gradlew run` you'll see that its complaining about my use of `@Names.named` when specifying parameters to inject, specifically right [here](https://github.com/hotmeatballsoup/scala-guice-example/blob/master/src/main/scal

[2017-07-31 16:33] jendakol opened #65 "Binding of generic types"
I have issue with binding some generic types, namely `bind[Unit => String]` and `bind[(=> Unit) => String]`. Guice itself is able to both bind and inject types like this, but current implementation of this library stops me from doing that, because:
* `bind[Unit => String]`
`Unit` is converted to `Void`, but only for binding thus the binding is not found when injecting
* `bind[(=> Unit) => String]`

[2017-08-04 18:05] tsuckow commented on #65
I can't think of a good reason. Every so often I try to fix some of these more nuanced issues but it inevitably triumphs over me.

PR's welcome.

[2017-08-04 20:13] jendakol commented on #65
OK, I'll do my best.
But are you aware it will not be 100% compatible with the current version? I doubt there's a lot of people using it, but injecting the `java.lang.Void => T` will stop work, will be replaced by `Unit => T` (which was original binding). Thus, it will be necessary to raise version of this library but that will break you _same as Guice versioning scheme_... Just wanted to warn you

[2017-08-17 04:57] tsuckow commented on #65
I don't know that I ever claimed to be semver. There is also the argument about whether fixing an unexpected behaviour is "breaking".

[2017-09-01 22:59] bfkelsey commented on #63
It looks like you should just be using `@Named`. https://github.com/codingwell/scala-guice/blob/54492a989e48599d34223a14832059f7955605b7/src/test/scala/net/codingwell/scalaguice/ClassesForTesting.scala#L72

[2017-09-26 22:37] chrisbenincasa commented on #56
I just started hitting this as well. @woparry did you ever find a workaround?

[2017-09-27 07:56] jendakol commented on #56
@chrisbenincasa I'm working on solution. I have it done, respectively, but I'm still uncertain if I don't break something, because my fix is backward incompatible. I solved it using a macro.

[2017-10-04 16:13] tsuckow commented on #56
What about making the type `Option[java.lang.Integer]` to avoid the primitive issue? If you really wanted an Int then you could use `.map {_.toInt}`

I'm not sure if there is a way to intercept the Injection and do the above automatically.

[2017-10-04 19:59] jendakol commented on #56
Unfortunately I discovered there is a problem with binding Scala types. I'm fighting it.
The problem I spoke about above is more complicated than I thought that time :disappointed:

[2017-10-05 15:30] jendakol commented on #56
I believe there is no way how to intercept getting an instance from the `Injector` unless we wrap something. I'm working on it, unfortunately it will become almost completely new library :-)

[2017-10-09 07:36] jendakol commented on #56
@tsuckow @chrisbenincasa @woparry Guys, I have bad news. I spent many hours with research and made a big effort to solve this issue, however it cannot be done. Here is why.

The problem lies in Java and Scala type system. In Java, you're unable to create `Set<int>`, only objects can be used as generic type parameter (means `Set<Integer>`), and even if you would hack the Guice somehow and bind `int

[2018-01-24 22:59] abhsrivastava opened #67 "java.lang.NoClassDefFoundError: net/codingwell/scalaguice/InternalModule$BindingBuilder"
My project uses guice 4.0.1 My project was working correctly until one of the libraries which I use evicted the 4.0.1 version with 4.1.0

And now my project gets an error

    Exception in thread "main" java.lang.NoClassDefFoundError: net/codingwell/scalaguice/InternalModule$BindingBuilder
    	at java.lang.Class.getDeclaredMethods0(Native Method)
    	at java.lang.Class.privateGetDeclaredMethods(

[2018-01-24 23:55] abhsrivastava commented on #67
I did analysis with sbt dependencyTree and found that the issue was other way round. my project was actually using 4.1.0 and the library downgraded it to 4.0.1 that is why the code stopped to work. Sorry for reporting the issue incorrectly.

[2018-01-24 23:55] #67 closed, assigned to nobody

[2018-04-20 07:23] Vrolijkx opened #70 "Binding wildcard types doesn't use correct type literal"
I have problems with binding wildcard types in scala Guice. If you define a binding like ```bind[Container[_]].toInstance(someInstance)``` or ```bind[Containter[_ <: SomeImpl].toInstance(someInstance)``` then injections of these types into constructors/fields will fail.
I have pinpointed the problem to the way scalaGuice generates a typeLiteral see spec below:

[code]

[2018-05-28 00:46] #63 closed, assigned to nobody

[2018-05-28 01:04] tsuckow commented on #70
Should be fixed in 4.2.1
Sorry about the delay

[2018-05-28 02:11] tsuckow commented on #65
I think with changes in 4.2.1 this is now "fixable." But I am having a hell of a time making a test case. I tried

[code]

But this results in [info] - should allow binding by name to Unit *** FAILED ***
[info]   java.lang.ClassNotFoundException: scala.<byname>
[info]   at java.net.URLClassLoader.findClass(URLClassLoader.java:381)
[info]   at java.lang.ClassLoader.loadClass(ClassLoader.java:424)
[

[2018-05-28 16:03] tsuckow commented on #42
So 4.2.1 has a conversion of typeLiteral[T] to use TypeTag. I started looking at replacing occurrences of Manifest with TypeTag. I'll see about adding this as a test case and see what happens.

I should also look into the compilation assertions, I would like to add some expected failures on some of the tickets with corner cases like this. But maybe with Typetags they will all be fixed.  ¯\_(ツ)_/¯

[2018-06-21 20:34] Koyirov opened #73 "getInstance() with constructor parametrs"
Hello,
I'm using guise version 4.1.0 in my project, but I'm  not right with getInstance () function. injector.getInstance (classOf [startgame]), where startgame has to take a parameter. But if I do parameter purely, I take a error "starting game does not take a parameter." Can someone explain that to me? Thanks in advance.

[2018-07-11 04:34] tsuckow commented on #73
You may want to look at https://github.com/google/guice/wiki/FrequentlyAskedQuestions#how-do-i-pass-a-parameter-when-creating-an-object-via-guice

You may also try asking https://groups.google.com/forum/#!forum/google-guice
Be sure to include details of your bindings and not just getInstance

[2018-07-11 04:35] #70 closed, assigned to nobody

[2018-07-11 05:40] tsuckow commented on #43
This could get interesting because AFAICT there is no Java type to represent a mixin. Scala appears to call this a "refined type".

Now, I am not sure if Guice actually cares about the iternals of the type or if we could make up a new class that extends Java.lang.reflect.type and call it a day.

[2018-10-19 03:03] adi2ky opened #74 "Can't attach Singleton scope toProvider"
I have the following binding in my Module
[code]
getting following error
[code]
Any help ?

[2018-10-19 03:08] adi2ky commented on #74
Actually it picked up Scala's version of Singleton, importing google's version fixed it.

[2018-10-19 03:08] #74 closed, assigned to nobody

[2018-12-12 05:15] tsuckow opened #76 "Add compatibility with Scala 2.13"
MapView is going to cause all kinds of issues.

[2018-12-12 05:32] tsuckow commented on #76
Uses a buttload of RAM to compile (1200MB+)...

[2018-12-12 05:36] tsuckow commented on #76
@nbauernfeind

[2018-12-12 05:48] tsuckow commented on #76
I went ahead and published 2.13-M5 under the 4.2.2 version even though it is a bit different.

[2019-01-17 06:22] skress opened #77 "Problems with Play framework's dev mode after upgrading to scala-guice 4.2.2"
First of all: thanks a lot for maintaining this library, it is really helpful.

I've run into problems with scala-guice after upgrading to 4.2.2 in combination with Play framework's dev mode. There is a minimal Play project which you could use to reproduce the error: https://github.com/skress/issue-play-scala-guice

If I am not doing anything terribly wrong then even this simple configuration does

[2019-01-17 14:53] tsuckow commented on #77
This is almost certainly https://github.com/playframework/playframework/issues/6207

Which leads us to [TypeConversions.scala#L66](https://github.com/codingwell/scala-guice/blob/develop/src/main/scala/net/codingwell/scalaguice/TypeConversions.scala#L66) which uses mirror which is indeed bound to the classloader of this library and not the classloader of the type in question.

I wonder though if it

[2019-01-17 17:01] skress commented on #77
If you meant getting the mirror like `runtimeMirror(scalaType.dealias.getClass.getClassLoader)`, then this did not work.

What helped is adding the mirror as parameter to [TypeConversions.scala#L60](https://github.com/codingwell/scala-guice/blob/develop/src/main/scala/net/codingwell/scalaguice/TypeConversions.scala#L60) and getting the mirror from the TypeTag.

I have implemented it in a fork and

[2019-01-17 17:11] tsuckow commented on #77
Assuming you ran the tests and they passed, that should be fine. Make a PR and I'll test locally too.

[2019-01-28 21:16] halfninja commented on #42
Now that 2.10 support is gone, it's worth noting that Dotty (soon to become Scala 3) will no longer synthesize Manifest instances, so there are two reasons to move to type tags. Is there still a branch around somewhere?

[2019-01-28 22:46] tsuckow commented on #42
Much has already been converted to type tags. Though it isn't as rainbows
and unicorns as I'd hoped.

[2019-03-02 20:43] #77 closed, assigned to nobody

[2019-05-28 14:56] ashleymercer opened #79 "Replace uses of Manifest with ClassTag / TypeTag"
If a type is owned by an `object` then it looks like [binding is special-cased](https://github.com/codingwell/scala-guice/blob/develop/src/main/scala/net/codingwell/scalaguice/TypeConversions.scala#L85) so, for example, the following works as expected:

[code]

However, if the type `Bar` is instead used as a type parameter for some generic type, then the binding fails with `ScalaReflectException`

[2019-05-28 14:58] nbauernfeind commented on #79
What versions of scala and scala-guice are you using?

[2019-05-28 15:00] ashleymercer commented on #79
Ahh, knew I'd forget something! As follows:

**Scala:** 2.12.8
**Java:** 1.8.0_202
**scala-guice:** 4.2.3

[2019-05-28 16:47] ashleymercer commented on #79
I reproduced a minimal test case in a clean project and it works just fine. The only difference when I see the error is that I'm running Play in DEV mode: this is a well-known source of ClassLoader-related gotchas since Play does a lot of tricks to enable hot compile/reload during development.

The weird thing is that pretty much all the rest of scala-guice works as expected (certainly, I use it t

[2019-05-28 18:43] ashleymercer commented on #79
Think I've found it: some of the methods in scala-guice use `Manifest` which is part of the older (pre-2.10) reflection API. Looks like this doesn't play nicely with Play's dev-mode ClassLoader shenanigans since I can see from debugging that it ends up with the wrong `ClassLoader` instance (it only has access to external dependencies, and _not_ the project classes).

Since scala-guice no longer su

[2019-06-03 00:42] #79 closed, assigned to nobody

[2019-06-03 01:01] tsuckow commented on #76
4.2.4 against 2.13-RC3

[2019-06-22 21:46] #76 closed, assigned to nobody

[2019-07-02 13:43] mvdstam opened #83 "SingletonType bindings not working since 4.2.2"
Since version `4.2.2` and upwards, this binding results in an exception:

[code]

This results in the following exception:

`[Error] Caused by: java.lang.UnsupportedOperationException: Could not convert scalaType Foo.type to a javaType: scala.reflect.internal.Types$UniqueSingleType at net.codingwell.scalaguice.TypeConversions$.scalaTypeToJavaType(TypeConversions.scala:78)`

With `4.2.1`, this work

[2019-07-02 15:01] tsuckow commented on #83
It's definitely a side effect of having to transition to Typetags because Manifests are deprecated.

I'm busy due to the holiday but I'll try and add a unit test that at least captures what you are seeing. We are likely just not handling UniqueSingleType. The TypeConversions file is black magic even to me. It might be straight forward or I might need to reach out to the file author for advice. The

[2019-07-02 15:18] mvdstam commented on #83
Thanks a lot for your quick response @tsuckow. I've looked into it briefly and we agree on one thing; the `TypeConversions.scala` file is indeed black magic. However, I'll try to get something working and get back to you.

[2019-07-03 09:02] mvdstam commented on #83
@tsuckow After some trial-and-error, I may have found a working solution:

[code]
This fixes the issue of not being able to bind `SingletonType` bindings and allows my application to run once more. What do you think?

[2019-07-04 02:21] tsuckow commented on #83
~~Do you have an example of FooProvider?~~

Nevermind, I figured out my typo in making FooProvider

[2019-07-04 06:22] mvdstam commented on #83
Ah, `FooProvider` was just a theoretical example anyway. It's basically just a `javax.inject.Provider<MyContainerClass<Foo.type>>`.

I created #84 yesterday with my fix. This compiles successfully with Scala 2.11, 2.12 and 2.13, and since the new case is put at the end of the pattern match, it won't break or change existing behaviour.

[2019-07-04 07:25] tsuckow commented on #83
I mostly got things handled, I'll see about a release next week after I
verify the unit test I created is good.

On Wed, Jul 3, 2019, 23:22 Max van der Stam <notifications@github.com>
wrote:

[2019-07-04 07:27] mvdstam commented on #83
Cheers @tsuckow, let me know if you need anything else from my end. Looking forward to the formal release so I can upgrade my projects.

[2019-07-12 05:47] mvdstam commented on #83
Hi @tsuckow, what is the status on this on your end? Thanks :)

[2019-07-12 14:18] tsuckow commented on #83
Thanks for the reminder, works been crazy this week after the holiday.
Hoping to get back to it this weekend.

On Thu, Jul 11, 2019, 22:47 Max van der Stam <notifications@github.com>
wrote:

[2019-07-16 02:03] #83 closed, assigned to nobody

[2019-07-16 02:05] tsuckow commented on #83
4.2.6 has shipped and is pending sync to Maven Central.

Thanks for your patience.

[2019-07-16 02:05] #73 closed, assigned to nobody

[2019-07-16 06:32] mvdstam commented on #83
Thanks @tsuckow!

[2020-06-23 00:34] cacoco opened #86 "injector.instance[Foo[Array[Byte]] does not properly find the bound type"
We have a case where a Module provides a type of `Foo[Array[Byte]]` to the object graph via an `@Provides`-annotated method in a Module. When that type is manually looked up via `injector.instance[Foo[Array[Byte]]]` it is not found.

It appears as though the `TypeLiteral` built by `net.codingwell.scalaguice.typeLiteral` ends up using the `java.lang.Byte[]` boxed type as the generic arg type, so th

[2020-06-23 01:11] cacoco commented on #86
I should note that this works as expected in scalaguice 4.2.0 which is pre-transition from Manifests to TypeTags and currently blocks our upgrade of [Finatra](https://github.com/twitter/finatra) to the latest version (which supports Scala 2.13 and part of why we're looking to upgrade).

[2020-06-23 02:17] tsuckow commented on #86
Always something. Does look like the type conversions needs a special case for primitive arrays.

This (new) test fails
[code]

I'll look at it in my spare time, if you have any thoughts about how to do that let me know

[2020-06-23 04:18] tsuckow commented on #86
I believe i fixed it. I'll see about commiting and publishing in a bit.

[2020-06-23 05:34] tsuckow commented on #65
I fiddled with this again and made 1 tweak in 4.2.8 that `Unit` didn't seem to be getting typed correctly.

However it seems the the reflection to find a Java type for `(=> Unit)` results in a class not found error of `<byname>`. I can see that the Symbol is for `=> T0` but not sure how to coerce that to `classOf[Function0]`

[2020-06-23 05:34] tsuckow commented on #86
Should be fixed in 4.2.8 which should be synced with Maven Central in the next hour or two.

[2020-06-23 05:34] #86 closed, assigned to nobody

[2020-06-23 05:45] cacoco commented on #86
@tsuckow thanks a ton -- we appreciate it.

[2020-06-23 14:59] cacoco opened #87 "injector.instance[Class with Trait] throws UnsupportedException"
Hey there, back again. We're continuing our upgrade of [Finatra](https://github.com/twitter/finatra) to the latest version of scalaguice and have encountered another issue around the [TypeConversions](https://github.com/codingwell/scala-guice/blob/develop/src/main/scala/net/codingwell/scalaguice/TypeConversions.scala) logic.

We have a fair amount of usage of the [finagle-mysql](https://github.com

[2020-06-23 15:22] cacoco commented on #87
I wanted to add that we've discovered another common case where this fails for us as well. When attempting to bind or read the bound instance of a Jackson ObjectMapper augmented with the ScalaObjectMapper:

[code]

Thanks.

[2020-06-23 15:57] tsuckow commented on #87
I can probably look at that in a few days. If you wanted to fiddle with substituting the contents of the scalatypetojavatype method with the json4s stuff that would greatly speed it up. The only time I have to work on this is after dinner when the spouse is busy.

If the json4s thing worked it would fix a lot of issues and probably get rid of all the ignored tests. We should sure to make regressio

[2020-06-23 16:43] cacoco commented on #87
@tsuckow understood -- thanks for your help here. Let me see if I can get json4s stuff working without too much surgery. Thanks again.

[2020-06-24 00:13] cacoco commented on #87
@tsuckow took a stab at something minimally invasive: https://github.com/codingwell/scala-guice/pull/88.

Additionally looking at scala.reflect.internal.Types, there's a comment which list a standard pattern match against types, see [here](https://github.com/scala/scala/blob/98b9a1c19ba2b7b342bc9b838628b86d00276540/src/reflect/scala/reflect/internal/Types.scala#L31) which is a bit illuminating on

[2020-06-25 03:21] #65 closed, assigned to nobody

[2020-06-25 03:37] tsuckow commented on #87
Should be fixed in 4.2.9. Thank you for your PR's

[2020-06-25 03:37] #87 closed, assigned to nobody

[2020-06-27 14:45] GalLalouche opened #90 "Add provider to InjectorExtensions"
Guice's `Injector` has a [`Provider<T> getProvider(Class<T> type)`](https://google.github.io/guice/api-docs/latest/javadoc/com/google/inject/Injector.html#getProvider-java.lang.Class-) method. It would be nice if `InjectorExtensions` would have a `provider[T: Manifest]: Provider[T]` method, similar to its `instance[T: Manifest]: T` methods.

[2020-06-29 23:08] cacoco opened #92 "TypeConversions produces an incorrect TypeLiteral for Scala value classes"
Problem

The `TypeConversions#scalaTypeToJavaType` ends up creating a TypeLiteral of the wrapped type of a value class instead of the type of the value class. Guice however will bind to the value class type as the TypeLiteral of the Key. Thus, any code path that goes through `net.codingwell.scalaguice.typeLiteral[T]`  will end up with an incongruous TypeLiteral. This is true both when binding and

[2020-06-30 00:53] cacoco commented on #92
Yep, tested this case against scala-guice 4.2.8 (guice 4.2.3, Scala 2.12.10 and JDK8) and it appears to work:

[code]

So looks tied to changes in https://github.com/codingwell/scala-guice/pull/88.

[2020-06-30 00:54] tsuckow commented on #92
As far as I can remember, it was because some types weren't mapped right even with Manifests.

`typeLiteral[List[_]] shouldEqual new TypeLiteral[List[_]] {}`

Also, your issue with AnyVal might be a dup of #49 which predates TypeTags

But you are more than welcome to try and revert https://github.com/codingwell/scala-guice/commit/ac3437e346c25790329d3bf785b93007291657da

As far as Dotty and scala.

[2020-06-30 00:59] tsuckow commented on #92
I hate type things.

I bet it was:
https://github.com/codingwell/scala-guice/commit/c817b0974031b254cc9a4de0d598566b7e12484f

Which I snuck in. I was trying to avoid doing a try catch, but i probably have to

[2020-06-30 00:59] cacoco commented on #92
Actually yeah I just bisected, its this change: https://github.com/codingwell/scala-guice/commit/c817b0974031b254cc9a4de0d598566b7e12484f

[2020-06-30 01:01] tsuckow commented on #92
Nothing is ever easy
![](https://media2.giphy.com/media/xT9DPJVjlYHwWsZRxm/giphy.gif)

[2020-06-30 01:17] tsuckow commented on #92
Made a new test and fixed it with a try catch. I hate having normal flow in the catch block but it is what it is. I'll see about buttoning up the outstanding pr and make a new version.

[2020-06-30 01:22] #92 closed, assigned to nobody

[2020-06-30 01:32] cacoco commented on #92
@tsuckow tangentially: have you seen: https://github.com/scala/scala/pull/8816 (and https://github.com/scala/scala/releases/tag/v2.13.3, https://github.com/retronym/monad-ui/pull/1)?

[2020-06-30 02:22] tsuckow commented on #92
I had not seen that / scala-async for that matter. I should think about using those on my scala project, would save me a mountain of boiler plate.

[2020-06-30 03:00] tsuckow commented on #90
#91 is in 4.2.10

[2020-06-30 03:00] #90 closed, assigned to nobody

[2020-06-30 03:02] tsuckow commented on #92
4.2.10 should be synced to maven central in the next few hours.

[2020-06-30 03:05] cacoco commented on #92
Sounds, good. Thanks!

[2020-07-08 21:17] mosesn opened #93 "ScalaModule#bind[static nested class of an inner class] cannot find inner class"
So we found a weird corner-case that seems to fail in the new scala-guice world.  I'm not sure when this issue was introduced, but it was probably in the manifest => typetags transition.

Here is the most minimal repro I have:

scala:
[code]

java:
[code]

And here's the error message we got:

[code]

This isn't urgent for us, we worked around it by refactoring (turned out they didn't really need

[2020-07-12 15:42] tsuckow commented on #92
Offtopic: Thanks for pointing out scala-async. It's been a life saver. I don't do much scala work these days so I've fallen quite behind.

[2020-07-12 16:35] tsuckow commented on #93
I "fixed" it in 4.2.11, but I'll say it is more of a sidestep. I think there are still cases that are broken and may be even less obvious now. That said, they are probably exceedingly rare so we'll deal with it when it comes up.

[2020-07-12 16:38] #93 closed, assigned to nobody

[2020-07-13 12:44] mosesn commented on #93
@tsuckow thank you!  let me try updating and see if it fixes the problem after I apply the revert.

[2020-07-13 18:31] mosesn commented on #93
yep, works for us, thank you!

[2020-08-01 01:58] vkostyukov commented on #56
Is there any news on this? From what I understand, the workaround is to use `ScalaOptionBinder`?

[2021-03-05 07:23] heikkijuntunen opened #94 "New guice has been released"
There is new Guice available. Is there plans to support that one?

https://github.com/google/guice/wiki/Guice501

[2021-03-05 13:35] tsuckow commented on #94
You about gave me a heart attack when I saw the year 2020 in the release notes. Thought I was gonna relive the year again.

If I get a chance I'll see about trying to update this weekend.

[2021-03-08 16:01] tsuckow commented on #94
`5.0.0` should be synced to maven central shortly targeting `Guice-5.0.1`

[2021-03-08 16:01] #94 closed, assigned to nobody

[2021-05-17 11:14] borissmidt opened #95 "bind[X[Nothing]] fails when trying to instatiate Nothing."
It tries to instantiate `Exception in thread "main" java.lang.ClassNotFoundException: scala.Nothing`
https://stackoverflow.com/questions/54369014/cant-bindsttpbackendtry-nothing

[2021-05-17 14:54] tsuckow commented on #95
I'll see if I can't add handing of Nothing later this week.

[2021-05-21 21:26] cacoco commented on #95
@tsuckow I took a go at fixing this.

[2021-05-22 17:28] #95 closed, assigned to nobody

[2021-05-22 17:34] tsuckow commented on #95
scala-guice 5.0.1 should sync to maven central shortly. Many thanks to @cacoco for making the pull request so I just had to validate the changes.

[2021-05-22 17:45] tsuckow opened #97 "Scala 3?"
https://www.scala-lang.org/blog/2021/05/14/scala3-is-here.html

[2021-05-22 19:09] borissmidt commented on #95
Thank you for fixing it so fast!

On Sat, May 22, 2021, 19:34 Thomas Suckow ***@***.***> wrote:

[2021-06-10 19:18] cacoco commented on #97
@tsuckow FWIW, the latest Scala 2.13.x (2.13.6) release is compatible with Scala 3 and meant to make the transition to Scala 3 easier. We recently [moved to support Scala 2.13.6](https://github.com/twitter/finatra/commit/52827c7221ae0da50f37165cdae9d06cf4e3775a) because of this.

Also, out of curiosity, it looks like scala-guice still supports Scala 2.11 -- what are the plans (if any) to drop supp

[2021-06-10 20:59] tsuckow commented on #97
At this point I would consider 2.11 support expendable. I just haven't had anything come up that breaks it.

My initial glances seemed to indicate compiling for Scala 3 would require breaking changes. At which point dropping 2.x is unavoidable anyway.

[2021-06-11 16:47] cacoco commented on #97
@tsuckow added support for 2.13.6 in #98. Please take a look.

[2021-06-30 12:24] ahrussell opened #99 "injectMembers silently fails to inject members on Scala 2.13.6"
On versions 4.2.5, 4.2.9, and 5.0.1 (the ones I tested), `Injector.injectMembers` fails on Scala 2.13.6. Minimal repro:

[code]

You can play around with this example (changing the Scala version from 2.12.13 to 2.13.6) [here](https://scastie.scala-lang.org/HGaBU1AdQYGS0uGbx3ciJA).

[2021-07-28 06:36] joel-apollo commented on #99
After debugging we found out it's related to this: https://users.scala-lang.org/t/fields-in-object-is-now-static-in-2-13/5873 and a change in Scala 2.13 that makes objects have static fields

[2021-09-10 16:08] MichealZub commented on #99
I have found this would help: [snippet](https://scastie.scala-lang.org/N3hHCEEnQqWipL7F7HYxaQ)

[2021-09-18 16:10] tsuckow commented on #99
I'm glad you seem to have found workarounds. It seems it was amazing this worked at all since `object` implies a static object though for implementation reasons in scala wasn't apparently actually static. Google-Guice also seems to explicitly not endorse injecting into static fields.

With that in mind since this seems to be a Scala language vs Google-Guice issue and not directly related to Scala-

[2021-09-18 16:10] #99 closed, assigned to nobody

[2021-09-18 17:08] tsuckow commented on #97
2.13.6 seems to get us closer but unfortunately it seems the biggest hurdle is the lack of TypeTags in 3. Attempting to use the 2.13 version of the reflection library would pull in the 2.13 scala library jar which from what I've read is a no-no. (Doesn't work anyway you get an error: "No TypeTag available for Nothing")

![image](https://user-images.githubusercontent.com/262439/133896738-fcd42b34-0

[2022-03-07 09:17] Daniel-Khodabakhsh opened #100 "Issue using ScalaMapBinder with Scala Int as a key or a value"
I can't get `ScalaMapBinder` to work with Scala `Int` in version `5.0.2`.

[Take the example in the readme](https://github.com/codingwell/scala-guice#mapbinding);

[code]

When I try to inject it as per the readme:

[code]

I get the following error:

[code]

We can see from the logs that it considers `Int` to be an `Object`.

This can be worked around by using `Integer` instead of `Int`.

Issue s

[2022-03-07 09:18] Daniel-Khodabakhsh commented on #50
I tested this out on version `5.0.2` and it works well with Scala traits now.

The trait I used is one I wrote myself and does not extend any other trait. The inject class also only extends this one trait. Haven't tested with more complex traits.

[2022-05-10 21:12] Daniel-Khodabakhsh opened #101 "Is there any scala-guice implementation for Custom Injections?"
Guice supports [Custom Injections](https://github.com/google/guice/wiki/CustomInjections), where a [TypeListener](http://google.github.io/guice/api-docs/latest/javadoc/com/google/inject/spi/TypeListener.html) is implemented, and then either [MembersInjectors](http://google.github.io/guice/api-docs/latest/javadoc/com/google/inject/MembersInjector.html) or [InjectionListeners](http://google.github.i

[2022-05-25 22:03] Daniel-Khodabakhsh commented on #101
The answer is no. Use classic `bindListener` for custom injections.

[2022-05-25 22:03] #101 closed, assigned to nobody